# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
Backend/   # since you named your venv Backend

# Environment variables
.env
*.env

# IDE settings
.vscode/
.idea/

# Logs
*.log
